@inject ICategoryRepository categoryRepository
@model List<CartItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categoryname = ViewBag.CategoryName;
    float Total = 0;
}


<div class="container single_product_container">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Count > 0)
                    {
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead class="thead-dark" style="text-align:center">
                                <tr>
                                    <td>Mã SP</td>
                                    <td>Tên SP</td>
                                    <td>Ảnh SP</td>
                                    <td>Số lượng</td>
                                    <td>Đơn giá</td>
                                    <td>Thành tiền</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Product.ProductId</td>
                                        <td>@item.Product.ProductName</td>
                                        <td><img src="~/images/Product/@item.Product.PathImage" width="100" /></td>
                                        <td>@item.Quantity</td>
                                        <td>@currency(item.Product.Price - item.Product.Price * item.Product.Sale / 100)</td>
                                        <td>@currency((item.Product.Price - item.Product.Price * item.Product.Sale / 100) * item.Quantity)</td>
                                        @{ Total += (item.Product.Price - item.Product.Price * item.Product.Sale / 100) * item.Quantity; }
                                        <td>
                                            <a class="btn btn-danger" data-toggle="modal" data-target="#@($"exampleModalLong{@item.Product.ProductId}")">Xoá</a>
                                            <div class="modal fade" id="@($"exampleModalLong{@item.Product.ProductId}")" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Xóa @item.Product.ProductName?</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Bạn chắc chứ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                            <a asp-controller="Cart" asp-action="Delete" asp-route-id="@item.Product.ProductId" class="btn-delete">Xóa</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                }
                                <tr style="color:red">
                                    <td colspan="4"></td>
                                    <td>Tổng tiền:</td>
                                    <td>@currency(Total)</td>

                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align:center;margin-top:20px">
                            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Tiếp tục mua hàng</a>
                            <a class="btn btn-danger" asp-action="DeleteAll">Xoá giỏ hàng</a>
                            <a class="btn btn-success" asp-action="Payment">Thanh toán</a>
                        </div>
                    }
                    else
                    {
                        <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
                        <br>
                        <a class="btn btn--blue" asp-controller="Home" asp-action="Index">Tiếp tục mua hàng</a>


                    }

                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        @functions
        {
        public string currency(float money1)
        {
            var vietnam = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
            string money2 = String.Format(vietnam, "{0:c}", money1);
            int start = money2.Length - 1;
            return money2.Replace(",00", "");
        }
    }
    </script>
}
