@inject ICategoryRepository categoryRepository
@model HomeView
@{
    ViewBag.Title = "Detail";
    var categoryname = categoryRepository.Get(Model.Product.CategoryId).CategoryName;
    @functions
        {
        public string currency(float money1)
        {
            var vietnam = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
            string money2 = String.Format(vietnam, "{0:c}", money1);
            int start = money2.Length - 1;
            return money2.Replace(",00", "");
        }
    }
}
<div class="row" style="margin-top:260px;margin-bottom:140px">

    <div class="col-sm-9" style="border:2px solid;">
        <h4 class="mt-3"><a asp-controller="Home" asp-action="Index">Trang chủ</a> >> Sản phẩm >> @categoryname</h4>
        <hr />
        <div style="margin:50px;">
            <h2 class="mb-3">@Model.Product.ProductName</h2>
            <div class="row">
                <div class="col-sm-6">
                    <img src="~/images/balos/@Model.Product.PathImage" style="width:80%;height:80%" />
                    @if (Model.Product.Sale > 0)
                    {
                        <div class="row mt-3">
                            <h5 class="col-6 float-sm-left">Giá KM: <span style="color:red">@currency(Model.Product.Price - Model.Product.Price * Model.Product.Sale / 100)</span></h5>
                            <h5 class="col-6 float-sm-right" style="text-decoration:line-through">@currency(Model.Product.Price)</h5>
                        </div>
                    }
                    else
                    {
                        <h5>Giá : <span style="color:red">@Model.Product.Price</span></h5>
                    }
                </div>
                <div class="col-sm-6 pl-sm-3">
                    <p style="color:red;">Miêu tả :</p>
                    <p>Hãng sản xuất: @Model.Product.Brand</p>
                    <p>Kích thước: @Model.Product.Size</p>
                    @if (Model.Product.Description != null)
                    {
                        <p>@Model.Product.Description</p>
                    }
                    @if (Model.Product.Sale > 0)
                    {
                        <h3 style="color:red">Sale:  - @Model.Product.Sale%</h3>
                    }
                    <hr />
                    <h4>Mua ngay:</h4>
                    <div class="row  pl-sm-3">
                        <h5>Số lượng:    <input type="number" value="1" min="1" style="width:60px;height:40px;font-size:30px;text-align:center" /></h5>
                        <a class="btn btn-success" style="margin-left:auto;"><i class="fa fa-cart-plus fa-3x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <table border="2">
            <tr>
                <th colspan="2" style="text-align:center">
                    <h4> Sản phẩm @categoryname</h4>
                </th>
            </tr>
            @if (Model.products != null)
            {
                foreach (Product product in Model.products)
                {
                    @if (product.Status && !product.IsDelete)
                    {
                        <div class="product-item @product.Category.CategoryId">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <img style="width:213px;height:213px" src="~/images/Product/@product.PathImage">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-@product.Sale%</span></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="single.html">@product.ProductName</a></h6>
                                    <div class="product_price">@currency(@product.Price - @product.Price * @product.Sale / 100)<span>@currency(@product.Price)</span></div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a asp-controller="Home" asp-action="Cart" asp-route-id="@product.ProductId">add to cart</a></div>
                        </div>
                    }
                    continue;
                }
            }
        </table>

    </div>
</div>