@model HomeView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = ViewBag.Categories as List<Category>;
    var cart = ViewBag.cart as List<CartItem>;
   
    
    @functions
        {
        public string currency(float money1)
        {
            var vietnam = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
            string money2 = String.Format(vietnam, "{0:c}", money1);
            int start = money2.Length - 1;
            return money2.Replace(",00", "");
        }
    }
}


<div class="main_slider" style="        background-image: url(/images/mainbanner.jpg)">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <h6>Spring / Summer Collection 2020</h6>
                    <h2>Get up to 30% Off New Arrivals</h2>
                    <div class="red_button shop_now_button"><a href="#buynow">Đặt hàng ngay</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Banner -->

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="        background-image: url(/images/banner.jpg)">
                    <div class="banner_category">
                        <a href="#buynow">Trending</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="        background-image: url(/theme/images/blog_3.jpg)">
                    <div class="banner_category">
                        <a href="#sale">Best Saler's</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="        background-image: url(/theme/images/banner_3.jpg)">
                    <div class="banner_category">
                        <a href="#buynow">men's</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- New Arrivals -->

<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2 id="buynow">New Arrivals</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col text-center">
                <div class="new_arrivals_sorting">
                    <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
                        @foreach (var category in categories)
                        {
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".@category.CategoryId">@category.CategoryName</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
                    @foreach (var product in Model.products)
                    {
                        @if (product.Status && !product.IsDelete && product.Sale > 0)
                        {<div class="product-item @product.Category.CategoryId">
                                <div class="product discount product_filter">
                                    <div class="product_image">
                                        <a asp-controller="Home" asp-action="Cart" asp-route-id="@product.ProductId"><img style="width:213px;height:213px" src="~/images/Product/@product.PathImage"></a>
                                    </div>
                                    <div class="favorite favorite_left"></div>
                                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-@product.Sale%</span></div>
                                    <div class="product_info">
                                        <h6 class="product_name"><a asp-controller="Home" asp-action="Cart" asp-route-id="@product.ProductId">@product.ProductName</a></h6>
                                        <div class="product_price">@currency(@product.Price - @product.Price * @product.Sale / 100)<span>@currency(@product.Price)</span></div>
                                    </div>
                                    <div style="margin-left:29px;margin-top:15px" class="red_button add_to_cart_button"><a asp-controller="Home" asp-action="Cart" asp-route-id="@product.ProductId">mua ngay</a></div>
                                </div>
                            </div>
                        }
                        else if (product.Status && !product.IsDelete && product.Sale == 0)
                        {

                            <div class="product-item @product.Category.CategoryId">
                                <div class="product discount product_filter">
                                    <div class="product_image">
                                        <a asp-controller="Home" asp-action="Cart" asp-route-id="@product.ProductId"><img style="width:213px;height:213px" src="~/images/Product/@product.PathImage"></a>
                                    </div>
                                    <div class="favorite favorite_left"></div>
                                    <div class="product_info">
                                        <h6 class="product_name"><a asp-controller="Home" asp-action="Cart" asp-route-id="@product.ProductId">@product.ProductName</a></h6>
                                        <div class="product_price">@currency(@product.Price - @product.Price * @product.Sale / 100)</div>
                                    </div>
                                    <div style="margin-left:29px;margin-top:15px" class="red_button add_to_cart_button"><a asp-controller="Home" asp-action="Cart" asp-route-id="@product.ProductId">mua ngay</a></div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>



    <div class="deal_ofthe_week">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="deal_ofthe_week_img">
                        <img src="~/theme/images/deal_ofthe_week.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 text-right deal_ofthe_week_col">
                    <div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
                        <div class="section_title">
                            <h2>Deal Of The Week</h2>
                        </div>
                        <ul class="timer">
                            <li class="d-inline-flex flex-column justify-content-center align-items-center">
                                <div id="day" class="timer_num">03</div>
                                <div class="timer_unit">Ngày</div>
                            </li>
                            <li class="d-inline-flex flex-column justify-content-center align-items-center">
                                <div id="hour" class="timer_num">15</div>
                                <div class="timer_unit">Giờ</div>
                            </li>
                            <li class="d-inline-flex flex-column justify-content-center align-items-center">
                                <div id="minute" class="timer_num">45</div>
                                <div class="timer_unit">Phút</div>
                            </li>
                            <li class="d-inline-flex flex-column justify-content-center align-items-center">
                                <div id="second" class="timer_num">23</div>
                                <div class="timer_unit">Giây</div>
                            </li>
                        </ul>
                        <div class="red_button deal_ofthe_week_button"><a href="#buynow">Đặt hàng ngay</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Best Sellers -->

    <div class="best_sellers">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title new_arrivals_title">
                        <h2 id="sale">Best Sellers</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="product_slider_container">
                        <div class="owl-carousel owl-theme product_slider">

                            <!-- Slide 1 -->
                            @foreach (var product in Model.productssale)
                            {
                                @if (product.Status && !product.IsDelete)
                                {
                                    <div class="owl-item product_slider_item">
                                        <div class="product-item">
                                            <div class="product discount">
                                                <div class="product_image">
                                                    <img style="width:213px;height:213px" src="~/images/Product/@product.PathImage">
                                                </div>
                                                <div class="favorite favorite_left"></div>
                                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$@product.Sale%</span></div>
                                                <div class="product_info">
                                                    <h6 class="product_name"><a href="single.html">@product.ProductName</a></h6>
                                                    <div class="product_price">@currency(@product.Price - @product.Price * @product.Sale / 100)<span>@currency(@product.Price)</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <!-- Slider Navigation -->

                        <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>
                        <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Benefit -->

    <div class="benefit">
        <div class="container">
            <div class="row benefit_row">
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>Miễn phí vận chuyển</h6>
                            <p>Hãy để chúng tôi đem đến cho bạn sự an tâm!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>Thanh toán khi giao hàng</h6>
                            <p>Nhớ kiểm tra hàng trước khi thanh toán bạn nhé!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>15 ngày đổi trả miễn phí</h6>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>Luôn chào đón bạn!</h6>
                            <p>8AM - 09PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   


