@using System
@{
    ViewData["Title"] = "H9 Shoes";
    List<Product> products = ViewBag.products;
    var searchstring = ViewBag.Searchstring;
    var count = ViewBag.count;
    var categories = ViewBag.categories as List<Category>;
    @functions
        {
        public string currency(float money1)
        {
            var vietnam = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
            string money2 = String.Format(vietnam, "{0:c}", money1);
            int start = money2.Length - 1;
            return money2.Replace(",00", "");
        }
    }
}

<style>
    .product-grid {
        display: flex !important;
    }

    .product-item {
        margin-right: 40px;
    }
</style>

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center" id="ketqua">
                @if (@count == 0)
                {
                    <ul>
                        Kết quả tìm kiếm cho "@searchstring" (@products.Count kết quả)
                    </ul>
                }
                else
                {
                    <ul class="text-danger" style="font-size: 17px">
                        Không có kết quả nào !!! Vui lòng kiểm tra lại sản phẩm bạn muốn tìm kiếm!!
                    </ul>
                }

            </div>

            <!-- Sidebar -->

            <div style="display:flex">
                <div class="sidebar">
                    <div class="sidebar_section">
                        <div class="sidebar_title">
                            <h5>Loại giày</h5>
                        </div>
                        <ul class="sidebar_categories">
                            <li>
                                <select class="custom-select" id="category">
                                    @foreach (var item in categories)
                                    {
                                        <option value="@item.CategoryId">@item.CategoryName</option>
                                    }
                                </select>

                            </li>

                        </ul>
                    </div>
                    <div class="sidebar_section">
                        
                            <h5>Sắp xếp</h5>
                     
                        <div>
                            <select onchange="site.sort(this)" class="custom-select" id="sort">
                                <option value="0">Mặc định</option>
                                <option value="1">Theo giá</option>
                                <option value="2">Theo tên</option>
                            </select>
                        </div>

                        <div style="margin-top:30px;"><button style="width: 200px !important" class="btn btn-success" onclick="site.choose()">Lọc</button></div>

                    </div>
                    
                </div>


                <!-- Main Content -->

                <div class="main_content">

                    <!-- Products -->

                    <div class="products_iso">
                        <div class="row">
                            <div class="col">



                                <!-- Product Grid -->

                                <div class="product-grid" id="product">

                                    <!-- Product 1 -->

                                    @foreach (var item in products)
                                    {
                                        <div class="product-item @item.CategoryId">
                                            <div class="product discount product_filter">
                                                <div class="product_image">
                                                    <a asp-controller="Home" asp-action="Cart" asp-route-id="@item.ProductId"><img src="~/images/Product/@item.PathImage" alt=""></a>
                                                </div>
                                                <div class="favorite favorite_left"></div>
                                                @if (item.Sale > 0)
                                                {
                                                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                                        <span>-@item.Sale %</span>
                                                    </div>
                                                    <div class="product_info">
                                                        <h6 class="product_name"><a asp-controller="Home" asp-action="Cart" asp-route-id="@item.ProductId">@item.ProductName</a></h6>
                                                        <div class="product_price">@currency(item.Price - item.Price * item.Sale / 100)<span>@currency(item.Price)</span></div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="product_info">
                                                        <h6 class="product_name"><a asp-controller="Home" asp-action="Cart" asp-route-id="@item.ProductId">@item.ProductName</a></h6>
                                                        <div class="product_price">@currency(item.Price - item.Price * item.Sale / 100)<span>@currency(item.Price)</span></div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="red_button add_to_cart_button" style="width:60%;margin-left:40px;margin-top: -28px !important;"><a asp-controller="Home" asp-action="Cart" asp-route-id="@item.ProductId">mua ngay</a></div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Benefit -->

    <div class="benefit">
        <div class="container">
            <div class="row benefit_row">
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>free shipping</h6>
                            <p>Suffered Alteration in Some Form</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>cach on delivery</h6>
                            <p>The Internet Tend To Repeat</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>45 days return</h6>
                            <p>Making it Look Like Readable</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>opening all week</h6>
                            <p>8AM - 09PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script>
    var site = {};

    site.choose = function () {
        var sort = $('#sort').val();
        var categoryId = $('#category').val();
        $.ajax({
            url: `/Home/ProductByCategory/${categoryId}/${sort}`,
            method: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                console.log(data)
                $("#ketqua").empty();
                $("#ketqua").append(`<ul>
                        Kết quả tìm kiếm cho "${data[0]['category']['categoryName']}" (${data.length} kết quả)
                    </ul>`);

                $("#product").empty();
                $.each(data, function (key, value) {



                    if (value['sale'] > 0) {
                        z = value["price"] - (value["price"] * value["sale"] / 100);
                        z = z.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
                        var x = value["price"];
                        x = x.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });




                        $("#product").append(`

                             <div class="product-item ">
                               <div class="product discount product_filter">
                                   <div class="product_image">
                                   <a  href='/Home/Cart/${value["productId"]}'>   <img src="/images/Product/${value["pathImage"]}" alt=""></a>
                                   </div>
                                   <div class="favorite favorite_left"></div>
                                       <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                           <span>-${value["sale"]} %</span>
                                       </div>
                                       <div class="product_info">
                                           <h6 class="product_name"><a asp-controller="Home" asp-action="Cart" asp-route-id="">${value["productName"]}</a></h6>
                                            <div class="product_price">${z}<span>${x}</span></div>
                                       </div>
                               </div>
                               <div class="red_button add_to_cart_button" style="width:60%;margin-left:40px;margin-top: -36px !important;"><a href='/Home/Cart/${value["productId"]}' >mua ngay</a></div>
                            </div>

                        `);
                    } else {
                        var x = value["price"];
                        x = x.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });

                        $("#product").append(`
                            <div class="product-item ">
                               <div class="product discount product_filter">
                                   <div class="product_image">
                                       <a  href='/Home/Cart/${value["productId"]}'>   <img src="/images/Product/${value["pathImage"]}" alt=""></a>
                                   </div>
                                   <div class="favorite favorite_left"></div>

                                       <div class="product_info">
                                           <h6 class="product_name"><a asp-controller="Home" asp-action="Cart" asp-route-id="">${value["productName"]}</a></h6>
                                           <div class="product_price">${x}<span></span></div>
                                       </div>
                               </div>
                               <div class="red_button add_to_cart_button" style="width:60%;margin-left:40px;margin-top: -36px !important;"><a href='/Home/Cart/${value["productId"]}'>mua ngay</a></div>
                            </div>
`
                        );


                    }
                });

            }
        });
    }


</script>
