@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextaccessor
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@model HomeViewModel
@{
    var user = await userManager.GetUserAsync(User);
    IList<string> roles = new List<string>();
    if (user != null)
    {
        var userin = Task.Run(async () => await userManager.FindByIdAsync(user.Id)).Result;
        roles = Task.Run(async () => await userManager.GetRolesAsync(userin)).Result;
    }
    var result = HttpContextaccessor.HttpContext.Session.GetObjectFromJson<List<CartItem>>("CartSession");
    var count = (result == null ? 0 : result.Count);
    string total = "";
    if (result != null)
    {
        float Total = 0;
        foreach (var item in result)
        {
            Total += (item.Product.Price - item.Product.Price * item.Product.Sale / 100) * item.Quantity;
        }
        total = currency(Total);
    }
    @functions
        {
        public string currency(float money1)
        {
            var vietnam = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
            string money2 = String.Format(vietnam, "{0:c}", money1);
            int start = money2.Length - 1;
            return money2.Replace(",00", "");
        }
    }

}
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>H9 Shoes Shop</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/theme/styles/bootstrap4/bootstrap.min.css">
    <link href="~/theme/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/theme/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/theme/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/theme/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/theme/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/theme/styles/responsive.css">
    <link href="~/mystyle/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/mystyle/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/mystyle/css/sb-admin-2.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/theme/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/theme/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/theme/styles/single_styles.css">
    <link rel="stylesheet" type="text/css" href="~/theme/styles/single_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/theme/styles/bootstrap4/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/theme/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/theme/styles/categories_styles.css">
    <link rel="stylesheet" type="text/css" href="~/theme/styles/categories_responsive.css">
    <link href="~/css/site2.css" rel="stylesheet" />
</head>

<body>
    <div class="super_container">
        <header class="header trans_300">
            <div class="top_nav">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="top_nav_left">  Chúng tôi luôn mong muốn đem đến cho bạn trải nghiệm tốt nhất !! ♥</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="top_nav_right">
                                <ul class="top_nav_menu">

                                    @if (signInManager.IsSignedIn(User))
                                    {
                                        <li class="account" style="width:100px; margin-left:auto">
                                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@user.FullName </span>
                                                <img style="width: 30px; height: 30px;border-radius: 50%;" class="img-profile rounded-circle" src="~/images/Avatar/@user.ImagePath">
                                            </a>
                                            <div class="account_selection">
                                                @if (roles.Count != 0)
                                                {
                                                    <a class="dropdown-item" asp-controller="Category" asp-action="Index">
                                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                        Trở lại quản lý shop
                                                    </a>
                                                }

                                                <div class="dropdown-item"></div>
                                                <button class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                    Đăng xuất
                                                </button>
                                            </div>
                                        </li>

                                    }
                                    else
                                    {
                                        <li class="account">
                                            <a href="#" style="width:110px">
                                                Tài khoản
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="account_selection">
                                                <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng nhập</a></li>
                                                <li><a asp-controller="Account" asp-action="Register"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng ký</a></li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Navigation -->

            <div class="main_nav_container" style="height:122px">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <div class="logo_container">
                                <a asp-controller="Home" asp-action="Index">H9<span>Shoes Shop</span></a>

                            </div>

                            <div class="logo_container" style="margin-left:300px;width:50%">
            <form asp-controller="home" asp-action="search" method="post">
                <div class="input-group md-form form-sm form-2 pl-0" style="width:100%">
                    <input asp-for="@Model.Search.SearchString" class="form-control my-0 py-1 red-border" id="searchString" type="text" placeholder="Nhập tên sản phẩm..." aria-label="Search">

                    <div class="input-group-append">
                        <button type="submit" class="input-group-text red lighten-3" id="basic-text1">
                            <i class="fas fa-search text-grey" id="SearchBtn"
                               aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
 
                            <nav class="navbar ml-6">
            <div class="dropdown">
                <button type="button" style="margin-left:auto" class="btn btn-group" data-toggle="dropdown">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;<span class="badge badge-pill badge-danger">@count</span>
                </button>
                <div class="dropdown-menu">
                    <div class="row total-header-section">
                        <div class="col-lg-6 col-sm-6 col-6">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp; <span class="badge badge-pill badge-danger">@count</span>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-6 total-section text-right">
                            <p>Total: <span class="text-info">@(total != ""?total:"0đ")</span></p>
                        </div>
                    </div>
                    @if (result != null && result.Count > 0)
                    {
                        
                        
                            @for (int i = 0; i < result.Count; i++)
                            {
                                @if (i < 3)
                                {
                                    <div class="row cart-detail">
                                        <div class="col-lg-4 col-sm-4 col-4 cart-detail-img">
                                            <img src="~/images/Product/@result[i].Product.PathImage">
                                        </div>
                                        <div class="col-lg-8 col-sm-8 col-8 cart-detail-product">
                                            <p>@result[i].Product.ProductName <a class="btn btn-danger" style="font-size:12px" asp-controller="Cart" asp-action="Delete" asp-route-id="@result[i].Product.ProductId">Xóa</a></p>
                                            <span class="price text-info"> @currency((result[i].Product.Price - result[i].Product.Price * result[i].Product.Sale / 100) * result[i].Quantity)</span> <span class="count"> Số lượng: @result[i].Quantity</span>
                                        </div>
                                    </div>
                                }

                            }
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12 text-center ">
                                    <a class="btn btn-danger" asp-controller="Cart" asp-action="Index">Xem giỏ hàng</a>
                                </div>
                            </div>
                        

                    }
                    else
                    {
                        <div class="text-danger" style="text-align:center;font-size:15px">
                            Giỏ hàng của bạn chưa có gì <i class="fas fa-sad-tear"></i><br>
                            <img src="~/images/empty.PNG" />

                            <a class="btn btn-danger" asp-controller="Home" asp-action="Index">Cùng nhau mua sắm nào!!!</a>
                        </div>
                    }
                </div>
            </div>

        </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <div class="fs_menu_overlay"></div>
        <div class="hamburger_menu">
            <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="hamburger_menu_content text-right">
                <ul class="menu_top_nav">
                    <li class="menu_item has-children">
                        <a href="#">
                            Tài khoản
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="menu_selection">
                            <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng nhập</a></li>
                            <li><a asp-controller="Account" asp-action="Register"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng ký</a></li>
                        </ul>
                    </li>
                    <li class="menu_item"><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </div>
        @RenderBody()
        <!-- Footer -->
        <footer class="page-footer font-small mdb-color lighten-3 pt-4">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                        <!-- Content -->
                        <h5 class="font-weight-bold text-uppercase mb-4">Tri ân khách hàng</h5>
                        <p>Chúng tôi xin gửi lời tri ân sâu sắc tới các khách hàng đã ủng hộ ♥ </p>
                        <p>
                            Trong thời gian vừa qua, mặc dù thị trường biến động, đã cho ra mắt nhiều mẫu giày mới nhưng H9 vẫn là lựa chọn hàng đầu.
                            Chúng tôi xin cảm ơn quý khác hàng vì điều đó.
                            
                            Chúng tôi sẽ không làm bạn phải thất vọng!
                        </p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                        <!-- Contact details -->
                        <h5 class="font-weight-bold text-uppercase mb-4">Địa chỉ</h5>

                        <ul class="list-unstyled">
                            <li>
                                <p>
                                    <i class="fas fa-home mr-3"></i> Tầng 5, Số 28, Nguyễn Tri Phương, Thành phố Huế, TT Huế
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="fas fa-envelope mr-3"></i> lehuyhieu1099@gmail.com
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="fas fa-phone mr-3"></i> + 0383406630
                                </p>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                        <!-- Social buttons -->
                        <h5 class="font-weight-bold text-uppercase mb-4">Follow us</h5>

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/chuotdeptraii" type="button" class="btn-floating btn-fb">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <!-- Twitter -->
                        <a  href="" type="button" class="btn-floating btn-tw">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <!-- Google +-->
                        <a  href="" type="button" class="btn-floating btn-gplus">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <!-- Dribbble -->
                        <a  href="" type="button" class="btn-floating btn-dribbble">
                            <i class="fab fa-dribbble"></i>
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                @DateTime.Now.ToString("dd/MM/yyyy")

            </div>
            <!-- Copyright -->

        </footer>

    </div>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận rời đi?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"> Bạn thực sự muốn đăng xuất?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-danger" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>


    <script src="~/theme/js/jquery-3.2.1.min.js"></script>
    <script src="~/theme/styles/bootstrap4/popper.js"></script>
    <script src="~/theme/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/theme/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/theme/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/theme/plugins/easing/easing.js"></script>
    <script src="~/theme/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/theme/js/single_custom.js"></script>
    <script src="~/theme/js/custom.js"></script>
    <script src="~/mystyle/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/mystyle/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/mystyle/js/demo/datatables-demo.js"></script>

   
    <script src="~/theme/js/categories_custom.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>


